
input.invalid {
    background-color: red;
}

input.valid {
    background-color: green;
}

form.api-key-valid {
    display: none;
}

form.api-key-unknown {
    background-color: lemonchiffon;
}

div.lakitu-default {
    opacity: 1;
    display: none;
}

div.lakitu-empty {
    opacity: 1;
}

ul.cardholders {
    min-height: 6em;
    max-height: 14em;
    overflow: scroll;
}

a.brand-logo {
    padding-left: 8px;
    img {
        width: 42px;
        height: 42px;
        vertical-align: text-bottom;
    }
}


li.event {
    white-space: nowrap;
}

div.lakitu-updated {
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    opacity: 0;
}
