{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "React": true,
        "$": true,
        "Materialize": true,
        "ReactIntl": true
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "rules": {
        "eqeqeq": 1,
        "semi": 2,
        "strict": 0,
        "no-unused-vars": 2,
        "quotes": [2, "single"]
    }
}
